<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success" (click)="onNewRecipe()">New Recipe
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <!-- whole component is replicated for each recipe -->
    <!-- then binding to recipe -->
    <!-- id is being bound to the recipe with the index capture-->
    <app-recipe-item 
    *ngFor="let recipeEl of recipes; let i = index" 
    [recipe]="recipeEl"   
    [index]="i">
    </app-recipe-item>
  </div>
</div>