<div class="recipe-edit-form">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="save-cancel-buttons">
      <button 
      class="save-button" 
      type="submit" 
      mat-raised-button>
      Save</button>
      <button 
      class="cancel-button" 
      type="button" 
      mat-raised-button 
      (click)="onCancel()">
      Cancel</button>
    </div>
    <br />
    <div class="recipe-edit-name">
      <mat-form-field class="name-form-field">
        <mat-label for="name">Name</mat-label>
        <input 
        matInput type="text" 
        id="name" 
        formControlName="name">
      </mat-form-field>
    </div>
    <div class="recipe-edit-img">
      <mat-form-field class="img-form-field">
        <mat-label for="imagePath">Image URL</mat-label>
        <input 
        matInput 
        type="text" 
        id="imagePath" 
        formControlName="imagePath"
        #imagePath>
      </mat-form-field>
    </div>
    <div class="recipe-edit-img-preview">
      <img [src]="imagePath.value" class="img-responsive">
    </div>
    <div class="recipe-edit-description">
      <mat-form-field class="description-form-field">
        <mat-label for="description">Description</mat-label>
        <textarea 
        matInput type="text" 
        id="description" 
        formControlName="description">
      </textarea>
      </mat-form-field>
    </div>
    <div>
      <div class="ingredients" formArrayName="ingredients">
        <div 
        class="ing-name" 
        *ngFor="let ingredientCtrl of controls; let i = index" 
        [formGroupName]="i">
          <mat-form-field class="ing-name-form-field">
            <input 
            matInput 
            type="text" 
            class="ing-name" 
            formControlName="name">
          </mat-form-field>
        <div class="ing-amount">
          <mat-form-field class="ing-amount-form-field">
            <input 
            matInput 
            type="number" 
            formControlName="amount">
          </mat-form-field>
        </div>
          <div>
            <button 
            class="ing-delete-button" 
            mat-mini-fab 
            type="button" 
            (click)="onDeleteIngredient(i)">
            X</button>
          </div>
        </div>
        <hr>
        <div>
          <button 
          class="add-ing-button" type="button"
          mat-raised-button 
          (click)="onAddIngredient()">
          Add Ingredient</button>
        </div>
      </div>
    </div>
  </form>
</div>